* {
  box-sizing: border-box;
}

html, body {
  min-width: 1900px;
  margin:0 auto;
}

.header {
  background: url(../images/header-backgroudn.jpg) ;
  background-size: cover;
  padding-right: 0;
  text-align: center;
}

.hdr-one {
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  background-color: rgba(49, 54, 79, 0.6);
  font-size: 0;
}

.hdr-wrap {
  width: 59.3%;
  margin: 0 auto;
  vertical-align: top;
}

.logo {
  display: inline-block;
  width: 30%;
  padding: 10px;
  text-align: left;
}

.main-title {
  font: 35px/1.2 , sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-title span {
  font-weight: 700;
  color: #826E8C;
}

.navbar {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-top: 40px;
  text-align: right;
}

.menu {
  display: inline-block;
  margin: 0;
  padding: 0; 
  list-style: none;
  font: 700 16px/1.2 'Raleway', sans-serif;
  text-transform: uppercase;
}
  
.col {
  display: inline-block;
  margin-right: 20px;
  border: 1px solid black
}

a {
  text-decoration: none;
  color: #DFDDDD;
}
 
.wrap {
  width: 100%;
  background: url(../images/header-backgroudn.jpg) no-repeat;
  background-size: cover;
 }

.hdr-two {
  width: 59.3%;
  padding: 100px;
  margin: 0 auto;
  color: #FFFFFF;
  vertical-align: middle;
  font: 16px/1.2 Arial, sans-serif;
  background-size: cover;
  text-align: center;
}

.title {
  font: 700 60px/1.2 Arial, sans-serif;
  text-transform: uppercase;
}

.hdr-text {
  margin-bottom: 100px; 
}

.btn {
  padding: 20px 70px;
  font: 16px/1.2 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E20202;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.features {
  width: 100%;
  text-align: center;
}

.wrapper-features {
  display: inline-block;
  width: 59.3%;
  margin: 0 auto;
  font-size: 0;
  vertical-align: top;
}

.sprite-icon_1, 
.sprite-icon_2,
.sprite-icon_3,
.sprite-icon_4,
.sprite-icon_5,
.sprite-icon_6  { 
display: inline-block;
background-image: url(../images/spritesheet.png); 
background-repeat: no-repeat;
}

.sprite-icon_1 {
  width: 79px;
  height: 60px;
  background-position: -5px -5px;
}

.sprite-icon_2 { 
  width: 79px;   
  height: 60px;
  background-position: -94px -5px;
}

.sprite-icon_3 {
  width: 79px;
  height: 60px;  
  background-position: -183px -5px;
}

.sprite-icon_4 {
  width: 79px;
  height: 60px;
  background-position: -5px -75px;
}

.sprite-icon_5 {
  width: 79px;
  height: 60px;
  background-position: -94px -75px;
}

.sprite-icon_6 { 
  width: 79px; 
  height: 60px; 
  background-position: -183px -75px;
}

.sprite-icon_1:hover {
  width: 79px;
  height: 60px;
  background-position: -5px -145px;
}

.sprite-icon_2:hover {
  width: 79px;
  height: 60px;
  background-position: -94px -145px;
}

.sprite-icon_3:hover {
  width: 79px;
  height: 60px;
  background-position: -183px -145px;
}

.sprite-icon_4:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -5px;
}

.sprite-icon_5:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -75px;
}

.sprite-icon_6:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -145px;
}

.features-1,
.features-2,
.features-3,
.features-4,
.features-5,
.features-6 {
  display: inline-block;
  width: 28%;
  vertical-align: top;
  text-align: center;
}

.features-1 {
  margin-top: 122px;
  margin-bottom: 58px;
  margin-left: -4px;
}
 
.features-2 {
  margin: 122px 74px 58px 74px;
}

.features-3 {
  margin-top: 120px;
  margin-bottom: 58px;
}

.features-4 {
  margin-top: 2px;
  margin-left: -4px;
}

.features-5 {
  margin-top: 2px;
  margin-right: 74px;
  margin-left: 74px;
}

.features-6 {
  margin-top: 2px;
}

.features-title {
  margin-top: 28px;
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  
}

.features-description {
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: regular;
  text-align: center;
  color: #6c7279;
}

.gallery {
  width: 100%;
  margin-top: 110px;
  background-color: #2b2e4a;
}

.gallery-wrapper-1 {
  width: 100%;
  font-size: 0;
}

.gallery-wrapper-2 {
  width: 100%;
  font-size: 0;
}

.gallery-photo-1,
.gallery-photo-2,
.gallery-photo-3,
.gallery-photo-4,
.gallery-photo-5,
.gallery-photo-6,
.gallery-photo-7,
.gallery-photo-8 {
  position: relative;
  display: inline-block;
}

.gallery-photo-1 {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-2 {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-3 {
  background-color: #2b2e4a;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-4 {
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-5 {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-6 {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-7 {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-8 {
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-3 .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: 135px;
  z-index: 5;
  color: #ffffff;
  text-align: center;
}

 .overlay:hover {
  background-color: rgba(239, 69, 69, 0.9);
}

.overlay h1 {
  display: none;
  font: 14px/1.3 "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.overlay  p {
  display: none;
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: regular;
}

.gallery-photo-3:hover .overlay h1 {
  display: block;
}

.gallery-photo-3:hover .overlay p {
  display: block;
}

.footer {
  width: 100%;
}

.ftr1 {
  width: 100%;
  background-color: #3a3e64;
  text-align: center;
}

.ftr-wrapper {
  width: 59,3%;
  margin: 0 auto;
  color: #FFFFFF;
}

.loc {
  display: inline-block;
  width: 33%;
  padding: 80px;
  margin: 0 auto;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif; 
}

.social {
  display: inline-block;
  width: 33%;
  padding: 80px;
  margin: 0 auto;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif;  
}

ul.social-list {
  list-style: none;
  padding: 0;
}



.sprite-one,
.sprite-two,
.sprite-three {
  display: inline-block;
}

.link-sprite-one,
.link-sprite-two,
.link-sprite-three {
  display: inline-block;
  background-image: url(../images/spritesheet_soc.png); 
  background-repeat: no-repeat;
}

 .link-sprite-one {
  width: 40px;
  height: 40px;
  background-position: -5px -5px;
 }

.link-sprite-two {
  width: 40px;
  height: 40px;
  background-position: -55px -5px;
}

.link-sprite-three {
  width: 40px;
  height: 40px;
  background-position: -105px -5px;
}

.ftr-info {
  display: inline-block;
  width: 33%;
  padding: 80px;
  margin: 0 auto;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif;
}

.loc-title,
.social-title,
.ftr-title {
  font-weight: bold;
  text-transform: uppercase;
}

.ftr2  {
  background-color:#313454;
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: center;
  font-style: normal;
}

.ftr2 p {
  font: normal 14px/1.2 Arial, sans-serif;
  color: #9F9F9F;
}

.ftr2 p span {
  color: #FFFFFF;
}