* {
  box-sizing: border-box;
}

html, body {
  min-width: 1900px;
  margin:0 auto;
}

.header {
  padding-right: 0;
  text-align: center;
  background: url(../images/header-backgroudn.jpg) ;
  background-size: cover;
}

.hdr-one {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  font-size: 0;
  background-color: rgba(49, 54, 79, 0.6);
}

.hdr-wrap {
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
  vertical-align: top;
}

.logo {
  display: inline-block;
  width: 30%;
  padding-top: 20px;
  text-align: left;
}

.link-logotype {
  text-decoration: none;
}

.navbar {
  display: inline-block;
  width: 70%;
  padding-top: 40px;
  vertical-align: top;
  text-align: right;
}

.menu {
  display: inline-block;
  margin-top: -15px;
  padding: 0; 
  list-style: none;
  font: 700 13px/1.3 'Raleway', sans-serif;
  text-transform: uppercase;
}
  
.menu-list {
  display: inline-block;
  margin-right: 60px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}
 
.wrap {
  width: 100%;
  background: url(../images/header-backgroudn.jpg) no-repeat;
  background-size: cover;
 }

.hdr-two {
  width: auto;
  max-width: 1100px;
  padding: 100px;
  margin: 0 auto;
  color: #FFFFFF;
  vertical-align: middle;
  font: 16px/1.2 'Raleway', sans-serif;
  background-size: cover;
  text-align: center;
}

.title {
  font: 700 60px/1.2 Arial, sans-serif;
  text-transform: uppercase;
}

.hdr-text {
  margin-bottom: 100px; 
}

.header-link {
  display: inline-block;
  padding: 20px 50px;
  font: 16px/1.2 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e20202;
  border: none;
}

.header-link:hover {
  cursor: pointer;
}

.header-link:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.features {
  width: 100%;
  text-align: center;
}

.wrapper-features {
  display: inline-block;
  width: 59.3%;
  margin: 0 auto;
  font-size: 0;
  vertical-align: top;
}

.sprite-icon-one, 
.sprite-icon-two,
.sprite-icon-three,
.sprite-icon-four,
.sprite-icon-five,
.sprite-icon-six { 
display: inline-block;
background-image: url(../images/spritesheet.png); 
background-repeat: no-repeat;
}

.sprite-icon-one {
  width: 79px;
  height: 60px;
  background-position: -5px -5px;
}

.sprite-icon-two { 
  width: 79px;   
  height: 60px;
  background-position: -94px -5px;
}

.sprite-icon-three {
  width: 79px;
  height: 60px;  
  background-position: -183px -5px;
}

.sprite-icon-four {
  width: 79px;
  height: 60px;
  background-position: -5px -75px;
}

.sprite-icon-five {
  width: 79px;
  height: 60px;
  background-position: -94px -75px;
}

.sprite-icon-six { 
  width: 79px; 
  height: 60px; 
  background-position: -183px -75px;
}

.sprite-icon-one:hover {
  width: 79px;
  height: 60px;
  background-position: -5px -145px;
}

.sprite-icon-two:hover {
  width: 79px;
  height: 60px;
  background-position: -94px -145px;
}

.sprite-icon-three:hover {
  width: 79px;
  height: 60px;
  background-position: -183px -145px;
}

.sprite-icon-four:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -5px;
}

.sprite-icon-five:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -75px;
}

.sprite-icon-six:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -145px;
}

.features-one,
.features-two,
.features-three,
.features-four,
.features-five,
.features-six {
  display: inline-block;
  width: 28%;
  vertical-align: top;
  text-align: center;
}

.features-one {
  margin-top: 122px;
  margin-bottom: 58px;
  margin-left: -4px;
}
 
.features-two {
  margin: 122px 74px 58px 74px;
}

.features-three {
  margin-top: 120px;
  margin-bottom: 58px;
}

.features-four {
  margin-top: 2px;
  margin-left: -4px;
}

.features-five {
  margin-top: 2px;
  margin-right: 74px;
  margin-left: 74px;
}

.features-six {
  margin-top: 2px;
}

.features-title {
  margin-top: 28px;
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  
}

.features-description {
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: regular;
  text-align: center;
  color: #6c7279;
}

.gallery {
  width: auto;
  margin-top: 110px;
  background-color: #2b2e4a;
}

.wrap-gallery-one {
  width: auto;
  font-size: 0;
}

.wrap-gallery-two {
  width: auto;
  font-size: 0;
}

.gallery-photo-one,
.gallery-photo-two,
.gallery-photo-three,
.gallery-photo-four,
.gallery-photo-five,
.gallery-photo-six,
.gallery-photo-seven,
.gallery-photo-eight {
  position: relative;
  display: inline-block;
  width: 25%;
}

.gallery-images {
  width: 100%;
}

.gallery-photo-one {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-two {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-three {
  background-color: #2b2e4a;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-four {
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-five {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-six {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-seven {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-eight {
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-three .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: 135px;
  z-index: 5;
  color: #ffffff;
  text-align: center;
}

 .overlay:hover {
  background-color: rgba(239, 69, 69, 0.9);
}

.overlay h1 {
  display: none;
  font: 14px/1.3 "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.overlay  p {
  display: none;
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: regular;
}

.gallery-photo-3:hover .overlay h1 {
  display: block;
}

.gallery-photo-3:hover .overlay p {
  display: block;
}

.footer {
  width: 100%;
}

.footer-one {
  width: 100%;
  background-color: #3a3e64;
  text-align: center;
}

.footer-wrapper {
  width: 59,3%;
  margin: 0 auto;
  color: #FFFFFF;
}

.loc {
  display: inline-block;
  width: 33%;
  padding: 80px;
  margin: 0 auto;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif; 
}

.social {
  display: inline-block;
  width: 33%;
  padding: 80px;
  margin: 0 auto;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif;  
}

ul.social-list {
  list-style: none;
  padding: 0;
}

.sprite-one,
.sprite-two,
.sprite-three {
  display: inline-block;
}

.link-sprite-one,
.link-sprite-two,
.link-sprite-three {
  display: inline-block;
  background-image: url(../images/spritesheet_soc.png); 
  background-repeat: no-repeat;
}

 .link-sprite-one {
  width: 40px;
  height: 40px;
  background-position: -5px -5px;
 }

.link-sprite-two {
  width: 40px;
  height: 40px;
  background-position: -55px -5px;
}

.link-sprite-three {
  width: 40px;
  height: 40px;
  background-position: -105px -5px;
}

.footer-info {
  display: inline-block;
  width: 33%;
  padding: 80px;
  margin: 0 auto;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif;
}

.loc-title,
.social-title,
.ftr-title {
  font-weight: bold;
  text-transform: uppercase;
}

.footer-two  {
  background-color:#313454;
  margin-top: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-style: normal;
}

.footer-two p {
  font: 13px/1.7 Arial, sans-serif;
  color: #9F9F9F;
}

.footer-two p span {
  color: #FFFFFF;
}