* {
  box-sizing: border-box;
}

html, body {
  min-width: 1900px;
  margin: 0 auto;
}

.header {
  padding-right: 0;
  text-align: center;
  background: url(../images/header-backgroudn.jpg) ;
  background-size: cover;
}

.header-one {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  font-size: 0;
  background-color: rgba(49, 54, 79, 0.6);
}

.header-wrap {
  width: auto;
  max-width: 1180px;
  margin: 0 auto;
  vertical-align: top;
}

.logo {
  display: inline-block;
  width: 40%;
  padding-top: 42px;
  padding-bottom: 38px;
  text-align: left;
}

.link-logotype {
  text-decoration: none;
}

.navbar {
  display: inline-block;
  width: 60%;
  padding-top: 58px;
  padding-bottom: 15px;
  vertical-align: top;
  text-align: right;
}

.menu {
  display: inline-block;
  margin-top: -15px;
  padding: 0; 
  font: 13px/1.3 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
}
  
.menu-list-one,
.menu-list-two,
.menu-list-three,
.menu-list-four,
.menu-list-five {
  display: inline-block;
}

.menu-list-five {
  margin-right: 12px;
}

.menu-list-four {
  margin-right: 55px;
}

.menu-list-three {
  margin-right: 55px;
}

.menu-list-two {
  margin-right: 57px;
}

.menu-list-one {
  margin-right: 57px;
}

.menu-list-one:hover {
  cursor: pointer;
}

.menu-list-two:hover {
  cursor: pointer;
}

.menu-list-three:hover {
  cursor: pointer;
}

.menu-list-four:hover {
  cursor: pointer;
}

.menu-list-five:hover {
  cursor: pointer;
}

.menu-link:hover {
  color: #ffffff;
}

.menu-link {
  text-decoration: none;
  color: #cacad1;
}
 
.section-wrap {
  padding-top: 192px;
  padding-bottom: 155px;
  background: url(../images/header-backgroudn.jpg) no-repeat;
  background-size: cover;
 }

.header-two {
  width: auto;
  max-width: 1150px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  color: #ffffff;
  vertical-align: middle;
  background-size: cover;
  text-align: center;
}

.header-title {
  font: 65px/1.1 'Open Sans', sans-serif;
  font-weight: 700px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-text {
  margin-top: -30px;
  font: 22px/1.5 'Raleway', sans-serif;
  font-weight: 400;
}

.header-link {
  display: inline-block;
  margin-top: 50px;
  padding: 13px 50px;
  border-radius: 3px;
  font: 13px/1.6 'Raleway', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e84545;
  border: none;
}

.header-link:hover {
  cursor: pointer;
  background-color: #d92525;
}

.header-link:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.wrap-features {
  width: auto;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 125px;
  font-size: 0;
  vertical-align: top;
  text-align: center;
}

.features-one,
.features-two,
.features-three,
.features-four,
.features-five,
.features-six {
  display: inline-block;
  width: 27%;
  vertical-align: top;
  text-align: center;
}

.features-one {
  margin-right: 75px;
  margin-left: 8px;
}
 
.features-two {
  margin-right: 75px;
}

.features-four {
  margin-top: 60px;
  margin-right: 75px;
  margin-left: 8px;
}

.features-five {
  margin-top: 60px;
  margin-right: 75px;
}

.features-six {
  margin-top: 60px;
}

.features-title {
  margin-top: 28px;
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
}

.features-description {
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #6c7279;
}

.sprite-icon-one, 
.sprite-icon-two,
.sprite-icon-three,
.sprite-icon-four,
.sprite-icon-five,
.sprite-icon-six { 
display: inline-block;
background-image: url(../images/spritesheet.png); 
background-repeat: no-repeat;
}

.sprite-icon-one {
  width: 79px;
  height: 60px;
  background-position: -5px -5px;
}

.sprite-icon-two { 
  width: 79px;   
  height: 60px;
  background-position: -94px -5px;
}

.sprite-icon-three {
  width: 79px;
  height: 60px;  
  background-position: -183px -5px;
}

.sprite-icon-four {
  width: 79px;
  height: 60px;
  background-position: -5px -75px;
}

.sprite-icon-five {
  width: 79px;
  height: 60px;
  background-position: -94px -75px;
}

.sprite-icon-six { 
  width: 79px; 
  height: 60px; 
  background-position: -183px -75px;
}

.sprite-icon-one:hover {
  width: 79px;
  height: 60px;
  background-position: -5px -145px;
}

.sprite-icon-two:hover {
  width: 79px;
  height: 60px;
  background-position: -94px -145px;
}

.sprite-icon-three:hover {
  width: 79px;
  height: 60px;
  background-position: -183px -145px;
}

.sprite-icon-four:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -5px;
}

.sprite-icon-five:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -75px;
}

.sprite-icon-six:hover {
  width: 79px;
  height: 60px;
  background-position: -272px -145px;
}

.gallery {
  margin-top: 110px;
  background-color: #2b2e4a;
}

.wrap-gallery-one {
  font-size: 0;
}

.wrap-gallery-two {
  font-size: 0;
}

.gallery-photo-one,
.gallery-photo-two,
.gallery-photo-three,
.gallery-photo-four,
.gallery-photo-five,
.gallery-photo-six,
.gallery-photo-seven,
.gallery-photo-eight {
  position: relative;
  display: inline-block;
  width: 25%;
}

.gallery-images {
  width: 100%;
}

.gallery-photo-one {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-two {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-three {
  background-color: #2b2e4a;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-four {
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-five {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-six {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-seven {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-eight {
  border-bottom: 1px solid #ffffff;
}

.gallery-photo-three .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: 135px;
  z-index: 5;
  color: #ffffff;
  text-align: center;
}

 .overlay:hover {
  background-color: rgba(239, 69, 69, 0.9);
}

.overlay .gallery-title {
  display: none;
  font: 14px/1.3 "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.overlay .gallery-description {
  display: none;
  font: 14px/1.5 "Raleway", sans-serif;
  font-weight: 400;
}

.gallery-photo-three:hover .gallery-title {
  display: block;
}

.gallery-photo-three:hover .gallery-description {
  display: block;
}

.footer-one {
  background-color: #3a3e64;
}

.footer-wrap {
  width: auto;
  max-width: 1130px;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 107px;
  text-align: justify;
}

.loc {
  display: inline-block;
  width: 31%;
  margin-right: 38px;
  font: 14px/0.8 "Raleway", sans-serif; 
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  color: #adaebb;
}

.social {
  display: inline-block;
  width: 31%;
  margin-right: 30px;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif;  
  text-align: center;
  color: #adaebb;
}

.loc-title,
.social-title,
.footer-title {
  font: 14px/1.4 "Raleway", sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list {
  list-style: none;
  padding: 0;
}

.sprite-fb,
.sprite-tw,
.sprite-in {
  display: inline-block;
}

.sprite-fb {
  margin-right: 3px;
}

.sprite-tw {
  margin-right: 3px;
}

.link-sprite-fb,
.link-sprite-tw,
.link-sprite-in {
  display: inline-block;
  background-image: url(../images/spritesheet_soc.png); 
  background-repeat: no-repeat;
}

 .link-sprite-fb {
  width: 40px;
  height: 40px;
  background-position: -5px -5px;
 }

.link-sprite-tw {
  width: 40px;
  height: 40px;
  background-position: -55px -5px;
}

.link-sprite-in {
  width: 40px;
  height: 40px;
  background-position: -105px -5px;
}

.footer-info {
  display: inline-block;
  width: 31%;
  vertical-align: top;
  font: 14px/1.6 "Raleway", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #adaebb;
}

.footer-two  {
  background-color:#313454;
  margin-top: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-two p {
  font: 14px/1.6 "Raleway", sans-serif;
  font-weight: 400;
  color: #808080;
}
